*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d6e1ff9c;
}
.maincontainer {
    width: 450px;
    height: 697px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
}

.maincontainer img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.maincontainer p {
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 37px;
margin-top: 30px;
text-align: center;
color: #1F2E55;
}
.maincontainer h4 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    color: #717FA6;
    margin: 50px;
    margin-top: 17px;
    
}
.plan-container {
    display: flex;
    width: 354px;
    background-color: grey;
    justify-content: space-between;
    background: #F7F9FF;
border-radius: 11px;
}

.icon-container {
    display: flex;
}

.icon-container img {
    background: #DFE6FB;
    width: 48px;
    height: 48px;
    margin: 24px;
    border-radius: 100%;
}

.cost-container p {
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 21px;
color: #1F2E55;
}
.cost-container span {
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #717FA6;

} 

.plan-container a {
    margin: auto;
    margin-right: 20px;
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
text-decoration-line: underline;
color: #382AE1;
}

.button button {
    width: 354px;
    height: 50px;
    background: #382AE1;
box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
border-radius: 11px;
margin-top: 30px;
color: white;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 20px;
border-style: none;
}

.cancel  {
    margin-top: 32px;
    text-decoration: none;
}


/*body {
    height: 100vh;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d6e1ff9c;
}

/*.maincontainer {
    display: flex;
    align-items: center;
}

.item1 {
    display: flex;
    align-items: center;
    height: 697px;
    width: 450px;
    width: 450px;
    height: 697px;
    background: #FFFFFF;
box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
border-radius: 20px;
}
.item1 img {
    background: #382AE1;
border-radius: 20px 20px 0px 0px;
max-width: 100%;
}

.item1 p {
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 37px;
margin-top: 30px;
text-align: center;
color: #1F2E55;
}

.item1 h4 {
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
align-items: center;
text-align: center;
color: #717FA6;
margin: 48px;
margin-top: 20px;
}
.item2 {
    display: flex;
    justify-content: center;
    width: 354px;
    height: 98px;
    background: #F7F9FF;
    border-radius: 11px;
    
}



.item2 img {
    background: #DFE6FB;
    width: 48px;
    height: 48px;
    margin: 24px;
    border-radius: 100%;
}

.item2 p {
   
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    
    color: #1F2E55;
}
.item2 span {
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #717FA6;
}
.item2 a {
    
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
text-decoration-line: underline;
color: #382AE1;
}

.button {
    display: flex;
    justify-content: center;
   
    
}

button {
    width: 354px;
    height: 50px;
    background: #382AE1;
box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
border-radius: 11px;
border-style: none;
color: white;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 20px;
margin-bottom: 17px;
}

button:hover {
    background-color: #5d6a91;
    opacity: .6;
}

.cancel {
    display: flex;
    justify-content: center;
}

.cancel a {
    text-decoration: none;
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 20px;
color: #717FA6;
padding: 20px;
}*/



